body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  background: #abdbe3;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  margin: 10px auto;
  cursor: pointer;
}
.events-buttons button{
  display: inline;
  margin: 5px;
  padding: 10px;
}